/* ----------- Navigation Bar ----------- */

.navbar {
  background-color: #9198e5;
}

.nav-link:hover {
  background-color: #aab0e7;
  border-radius: 5px;
}

/* ----------- Hero Content ----------- */

.main-content {
  background: linear-gradient(#9198e5, #e6648d);
}

.header {
  min-height: 700px;
}

.header-name {
  font-size: 80px;
  
}

/* ----------- Portfolio Content ----------- */



