/* ----------- Navigation Bar ----------- */

.navbar {
  background-color: #9198e5;
}

.nav-link:hover {
  background-color: #aab0e7;
  border-radius: 5px;
}

/* ----------- Hero Content ----------- */

.main-content {
  background: linear-gradient(#9198e5, #0f080b, #9198e5);
}

.header {
  min-height: 800px;
  
}

.header-name {
  font-size: 80px;
  padding-top: 100px
}

/* ----------- Portfolio Content ----------- */

.portfolio-header {
  font-size: 60px;
}

.portfolio-link:hover {
  opacity: 0.8;
}

.img-card {
  padding-top: calc(1.8 / 3 * 100%);
  /* portrait aspect ratio */
  background-size: cover;
  background-position: center;
}

/* ----------- About Content ----------- */

.about-header {
  font-size: 60px;
}

/* ----------- Footer Content ----------- */

.footer {
  background-color: #9198e5;
}
